@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #27391C;
  --color-secondary: #8B9A46;
}
